footer {
  background: var(--accent);
  opacity: 0;
  border-top: 1px solid var(--btn);
  padding: 20px;
}
footer.show {
  opacity: 1;
  transform: translateY(0);
}

.footer-inner{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
}
.footer-bottom{
  margin-top: 20px;
  text-align: center;
}

.contact-item{
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
}

svg{
  width: 25px;
  height: 25px;
  fill: var(--muted);
}
