.hero {
  background: url("../img/hero.png") no-repeat center/cover;
  position: relative;
  padding: 100px 20px;
}
.hero h1 {
  font-size: clamp(30px, 3.5vw, 52px);
  margin-bottom: 20px;
  color: var(--ink)
}
.hero p {
  margin-bottom: 20px;
  font-size: 1.1rem;
  color: var(--ink)
}

