.about {
  display: flex;
  align-items: center;
  gap: 20px;
}
.about-img {
  border-radius: 50%;
  width: 180px;
  height: 180px;
  object-fit: cover;
}
.about-inner{
  display: flex;
  align-items: center;
  margin: 0 auto;
  gap: 30px;
  width: 70%;
}

.about-text {
  max-width: 500px;
}

@media (max-width: 768px) {
  .about-inner {
    flex-direction: column;
    text-align: center;
    width: 100%;
  }
}
